*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
  --mavcal:#10cab7;
}
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/*/////////  */

html{scroll-behavior: smooth;}



 /* Medium  */
@media (min-width: 768px) {}

 /* Large  */
@media (min-width: 992px) {  }

 /* X-Large */
@media (min-width: 1200px) {  }


/*/////////  */

.mai{
padding: 20px;

}
.mai .paran {
display: flex;
    justify-content: space-around;
    align-items: center;
  }

.paran .e{
  width: 100px;
}
.paran .lin{
position: relative;

}

.paran .lin .spa{width: 30px;
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
;}

.spa samp{
background-color: rgb(0, 0, 0);

margin-bottom: 5px;

}
.spa samp:first-child{
height:2.5px;width: 100%;

}
.spa samp:nth-child(2){height: 2.5px;width: 80%;
transition-duration: 0.3s;
}
.lin:hover .spa samp:nth-child(2){width: 100%;}


.spa samp:last-child{height: 4.1px;
width: 100%;}
.lin ul{
    list-style-type: none;
  
margin: 0;
padding: 0;
position: absolute;
right: 0;
min-width:200px;
top:calc(100%) ;
display: none;


}
.lin:hover ul{
  display: block;
      z-index: 5;

}

.lin ul::before{content: "";

border: rgb(32, 208, 187) solid 5px;

position: absolute;
left:  108px;
top: -5px;
border-right-color:transparent;
border-bottom-color:transparent;
border-left-color:transparent;
}

.lin li:not(:last-child){border-bottom:1px solid #ddd;
}

.lin li a{    
    text-decoration:none;
    display: block;
    color: #333;
    transition: 0.4ms;
    padding: 10px;
}

.lin li a:hover{
      padding-left: 17px;
}
.landing{
background-image: url(../img/w.jpg);
background-size: cover;
height: calc(100vh - 80px);
position: relative;
}

.landing .tex{
  position: absolute;
  margin: 0;
  left: 50%;
  bottom: 45%;
  transform: translate(-50%,-50% );
text-align: center;
width: 320px;
max-width:100% ;
}


.tex h1{
  margin: 0;
color: var( --mavcal);
}
.tex p{
font-size: 18px;
}
/* //////////// */
.contr{
padding-top: 70px;
padding-bottom: 70px;
}
.contr .conten{
display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    max-width: 1248px;
  margin-left: auto;
  margin-right: auto;

}

.aq,.aw,.ae{
  padding: 20px;
text-align: center;

}

.aq i,.aw i,.ae i{color: var(--mavcal);
 font-size: 25px;
}

.aq h3,.aw h3,.ae h3{font-weight: 800;
line-height: 1.8px;}

.aq p,.aw p,.ae p{line-height: 31.8px;
color: #777;}
.cccc{
color: #d8dde2;
margin-top: 60px;

font-size: 100px;
margin: auto auto;
text-align: center;
letter-spacing: -5px;

}
.cccc + p{margin: -30px 0 0;
text-align: center;
color: #777;
}

.servsies{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 20px;
    max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}


.colm .cerv{    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
       right: 12px;
    top: 46px;
}


    

@media (max-width:767px) {.colm .cerv{ 
flex-direction: column;
text-align: center;
} }


.colm .cerv i{
  color: var(--mavcal);
flex-basis:25px ;    font-size: 25px;
    position: relative;
top: -50px;
    left: -10px;
}
.taext{
  flex: 1;
}
.taext h3{font-weight: 800px}
.taext p{
line-height: 31.8px;
color: #686666;
}
.immmg {position: relative;
}
.immmg::before{
  content: "";
width: 200px;
height:580px ;
background-color: #172533;
position: absolute;
    right: -10px;
    top: -56px;
z-index: -1;
}
@media (max-width:1091px){
    .immmg {
display: none;}
  .servsies{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px;
justify-content: space-evenly;
margin-left: 145px ;
}}

@media (max-width:1000px){.servsies{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 20px;
margin-left: auto;
}
}
/* por */
.port{padding-top: 90px;
}

.conxac {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
      max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
    margin-top: 100px;

}

.conxac .card{
background-color: white;

}
.conxac .card img{
  max-width: 100%;
}

.conxac .card p{line-height: 31.8px;
color: #686666;}

.about{
padding-top: 90px;
}
.aabout{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;



  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}
.aabout .emg{
  position: relative;
  width: 250px;
height: 375px;
}
.aabout .emg::before{
content:"";
width:90px ;
height: calc(100% + 80px);
background-color: #172533;
position: absolute;
top: -60px;
left: -25px;
z-index: -1;
}

.aabout .emg::after{content:"";
width: 120px;
height:  330px;;

position: absolute;
left: 216px;
bottom:20px ;
border-bottom:var(--mavcal) solid 70px ;
border-left:var(--mavcal) solid 60px ;
z-index: -1;
}
.aabout .emg img{
  max-width:100%;
}

.aabout .tee{ flex-basis:calc(100% - 450px);
line-height: 31.8px;
font-size: 23px;
}
.aabout .tee p:last-of-type{
  line-height: 31.8px;
color: #686666;
font-size: 15px;

}

.aabout .tee hr{
  width: 375px;
  display: inline-block;
  border-color:  var(--mavcal);
}

@media (max-width:1019px) {
  .aabout{
    
  flex-direction: column;
  text-align: center;
}
.aabout .emg  {margin: 0 auto 80px;}
}
@media(max-width:1019px) {.aabout .emg::before,.aabout .emg::after{

display: none;


}}
.footr{
   background-color: #172533;
   width: 100%;
   color: white;
   padding: 30px 15px;
   text-align: center;
   margin-top:60px ;
}
.footr span{color: var(--mavcal);}